<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492739508623-39ntlq6thqsc72gb8nt2kgko1svco6th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492739508623-39ntlq6thqsc72gb8nt2kgko1svco6th</string>
	<key>API_KEY</key>
	<string>AIzaSyBjp54yBgLLzIhP6hyDoClFNcY55TxSZxg</string>
	<key>GCM_SENDER_ID</key>
	<string>492739508623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RedeTelecom.WebApp</string>
	<key>PROJECT_ID</key>
	<string>rede-telecom</string>
	<key>STORAGE_BUCKET</key>
	<string>rede-telecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492739508623:ios:622bfb7819b0f53b49b3fa</string>
	<key>DATABASE_URL</key>
	<string>https://rede-telecom.firebaseio.com</string>
</dict>
</plist>